{{> head }}
{{>navbar }}


<div class="row">
    <div class="col-8">
        <h1>This is fine</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, consectetur nam iure repudiandae aut quisquam! Nulla accusantium tempora obcaecati molestias maxime quam velit ad assumenda sit id perspiciatis, aliquid aperiam!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/thisIsFine.jpg" class="img-thumbnail">
    </div>
</div>



{{> footer }}